<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://app.lotes.com.cn:9999/lotes/download/debug/workAssistant.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://app.lotes.com.cn:9999/lotes/download/debug/displayIOS.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://app.lotes.com.cn:9999/lotes/download/debug/fullSizeIOS.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cc.lotes.workAssistant</string>
				<key>bundle-version</key>
				<string>1.3.8</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>工作助手</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
